body{
    background-color: #faf9f6;
    font-family: "Playwrite AR", cursive;
    margin: 50px;
    /* display: flex;
    flex-direction: column; */
}

.full-div{
    width: 100%;
    height: 90vh;

    
}
.head-div{
    
    font-size: 3rem;
    
}

.creative{
    color: #191970;
}
.title-image{
    height: 200px;
    float: left;
    margin-right: 50px;
}

.card{
    width: 45%;
}
.left{
    float: left;
}
.right{
    float: right;
}


footer{
    color: #191970;
    text-align: end;
    clear: both;
   /* margin-top: 50px; */
}
@media (max-width:680px){
    .logo{
        width: 100px;
    }
    h1{
        font-size: 2rem;
        text-align: center;
    }
    .title-image{
        display: inline;
        margin-bottom: 10px;
        width: 100%;
        object-fit: cover;
    }
    .card{
        width: 100%;
        display: block;
        margin-bottom: 30px;
        text-align: justify;
    }

}